/**
 * TextScramble, https://codepen.io/soulwire/pen/mErPAK/
 */
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
body {
    font-family: 'Roboto Mono', monospace;
    background: #212121;
    height: 100%;
    overflow: hidden;
}

div#logo-image {
	animation: fadeInAnimation ease 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

div.container {
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

 .container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* display: flex; */
}
.content-to-read {
    font-weight: 400;
    color: #fff;
    text-align: justify;
    /* font-family: sans-serif; */
    letter-spacing: .5px;
    line-height: 1.75;
    font-size: 16px;
}
.player-to-read {
    margin: 50px 0;
}
.text {
    font-weight: 400;
    font-size: 28px;
    color: #999999;
}
@media screen and (max-width: 580px) {
    .text {
        font-size: 20px;
    }
}
.dud {
    color: #757575;
}

/**
 * Native CSS
 */
div#page-to-read,
div#page-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 20px;
}

div#page-to-read {
    max-width: 830px;
}

div#page-content {
    max-width: 600px;
}

div#logo-image {
    padding: 40px 0;
    box-sizing: border-box;
}

img#logo-image-svg {
    width: 100%;
    height: auto;
}

a {
    color: #666666;
}
a:visited {
    color: #C0C0C0;
}
a:active {
    color: #000000;
}
a:hover {
    color: #7CDA57;
}

.version {
    color: #C0C0C0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 12px;
    font-size: 12px;
    font-weight: 600;
}