---
---

@import "{{ site.theme }}";

body {
    background-color: #fff;
    /* background-color: #f1f2f3; */
    background-image: url(/assets/images/waves/waves_bright.svg);
    background-position-x: 50%;
    background-repeat: no-repeat;
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.75;
    color: #272f33;
}

// For small screens
body {
    background-position-y: -350px;   
}

.page-header {
    padding: 1.5rem 1rem 2.5rem;
}

// For tablets or small laptops
@media screen and (min-width: 42em) {
    body {
        background-position-y: -310px;
    }

    .page-header {
        padding: 2.5rem 6rem 3.5rem;
    }
}

// For full screen
@media screen and (min-width: 64em) {
    body {
        background-position-y: -210px;
    }

    .page-header {
        padding: 4.5rem 6rem 5.5rem;
    }
}

.page-header {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    background-color: transparent;
    background-image: none;
}

.page-header h1,
.page-header h2 {
    text-shadow: 1px 1px 0 #37b1be94, -1px -1px 0 #37b1be94, 1px -1px 0 #37b1be94, -1px 1px 0 #37b1be94, 2px 2px 5px #5555552a;
}

header.page-header a {
    color: white;
    text-decoration: none;
}

h1.project-name {
    margin-bottom: 0;
}

h2.project-tagline {
    font-size: .8em;
    color: white;
    letter-spacing: .2em;
    margin-top: 0;
    // margin-bottom: 0;
}

// .main-content {
//     padding-top: 4rem;
// }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

b, strong {
    font-weight: 500;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    body {
        background-position-y: -400px;
        color: #000;
    }

    main#content {
        margin: 3em .8em 0;
    }
}

/**
 * Navigation menu
 */
div#nav {
    position: absolute;
    width: 100%;
    text-align: center;
}
div#nav div.relative {
    position: relative;
}

div#nav.sticky {
    position: sticky;
    top: 0;
}

div#nav-inner {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    background-color: white;
    padding: 0.4rem 6rem;
    background-image: url(/assets/images/waves/waves_bright.svg);
    background-position-y: 0;
    background-position-x: 50%;
}

div#nav.sticky div#nav-inner {
    box-shadow: #37aed617 0px 3px 10px 2px, #37b7a15e 0px 0px 12px 0px;
}

// For small screens
div#nav {
    top: 6.6rem;
}

// For tablets or small laptops
@media screen and (min-width: 42em) {
    div#nav {
        top: 8.6rem;
    }
}

// For full screen
@media screen and (min-width: 64em) {
    div#nav {
        top: 13.6rem;
    }
}

a.nav-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 0.5em;
    border: 1px solid transparent;
    margin: 0;
    transition: .5s;
}

a.nav-link:hover {
    background-color: #ffffff26;
    transition: .3s;
}

/**
 * GitHub MarkDown Check Boxes
 */
main#content > ul.task-list {
    padding-left: 0.4em;
}

ul.task-list li.task-list-item::marker {
    color: transparent;
}

ul.task-list li.task-list-item input.task-list-item-checkbox {
    margin-right: 1em;
}