<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    <!-- script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script -->
    <script src="/assets/js/markdown-check-list-stats.js" defer></script>
    
  </head>
  <body>
    <div id="nav">
      <div class="relative">
        <div id="nav-inner">
          <a href="/" class="nav-link">Home</a>
          <a href="/js_homework/" class="nav-link">Homework</a>
          <a href="/js_homework/mdn.study/" class="nav-link">MDN.Study</a>
        </div>
      </div>
    </div>

    <script src="/assets/js/nav-sticky-position.js"></script>
    
    <header class="page-header" role="banner">
      <div class="header-wrapper">
        <a href="/">
          <!-- h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1 -->
          <h1 class="project-name">{{ site.title }}</h1>
          <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        </a>
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% endif %}
        {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
        {% endif %}
  
        <div class="header-links">
          <a href="https://github.com/metalevel-tech" target="blank">
            <img src="/assets/icons/github-white.svg" alt="GitHub Icon">
          </a>
          <a href="https://askubuntu.com/users/566421/pa4080" target="blank">
            <img src="/assets/icons/ubuntu-white.svg" alt="AskUbuntu Icon">
          </a>
          <a href="https://metalevel.tech" target="_blank" rel="noopener">
            <img src="/assets/icons/mlt.favicon.icon.white.svg" alt="MLT Icon" />
          </a>
          <a href="https://www.linkedin.com/in/spas-z-spasov" target="blank">
            <img src="/assets/icons/linked-in-white-square.svg" alt="LinkedIn Icon">
          </a>
          <a href="https://meta.wikimedia.org/wiki/User:Spas.Z.Spasov" target="blank">
            <img src="/assets/icons/wikimedia-white.svg" alt="MediaWiki Icon">
          </a>
        </div>
      </div>
    </header>

    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Solely the future is subject to management. This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>